{% extends 'base.html.twig' %}

{% block title %}
<div class="">
        <h1 class="display-4">Formulaire d'ajout d'une entreprise</h1>
</div>
{% endblock %}

{% block body %}

{{ form(vueFormulaire) }}


{% endblock %} 