{% extends 'base.html.twig' %}


{% block body %}
<p>
Liste de stages :
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{path('metier_stages_id',{id:1})}}">Stage 1</a></td>
    </tr>
    <tr>
      <td><a href="{{path('metier_stages_id',{id:2})}}">Stage 2</a></td>
    </tr>
    <tr>
      <td><a href="{{path('metier_stages_id',{id:3})}}">Stage 3</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
